<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
    <appSettings>
      <add key="GoogleAPIKey" value="AIzaSyDIj4lpLnKsJdIxJFpJW8hIgQTKo3lrTpY" />
      <add key="BingAPIKey" value="7a26e0886c5b420baa02a6789afca002" />
    </appSettings>
</configuration>


